@{
    ViewData["Title"] = "Film Yılları";    
}

<div id="app">
    <movie-years-component></movie-years-component>
</div>

@section scripts {
    <script src="@Url.Content("~/bundle/home.js")"></script>
}