@{
    ViewData["Title"] = "Film Yılı";    
}

<div id="app">
    <movie-year-detail-component></movie-year-detail-component>
</div>

@section scripts {
    <script src="@Url.Content("~/bundle/home.js")"></script>
}