@{
    ViewData["Title"] = "Film Türü";    
}

<div id="app">
    <movie-type-detail-component></movie-type-detail-component>
</div>

@section scripts {
    <script src="@Url.Content("~/bundle/home.js")"></script>
}