@{
    ViewData["Title"] = "Film Türleri";
}

<div id="app">
    <movie-types-component></movie-types-component>
</div>

@section scripts {
    <script src="@Url.Content("~/bundle/home.js")"></script>
}